.navbar{
    display:flex;
    justify-content: space-between;
    padding: 15px;
    color: white;
    background-color: rgb(255, 60, 60);
}

.navlinks>a{
    margin: 0;
    line-height: 0px !important;
    color: white;
}

.navlinks{
    display: flex;
    gap: 2rem;
    font-family: 'VT323', monospace;
    font-size: 2rem; 
    align-items: center;
}

#leftsidenav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#leftsidenav>h3{
    margin: 0;
    font-family: 'VT323', monospace;
    font-size: 2rem; 
}