@keyframes fill{
    0% {background-color: white;}
    100% {background-color: red;}
}

.pokeIndexCards:hover{
    transform: translate(2rem, 0);
    animation-name: fill;
    animation-duration: 1s;
}

.pokeIndexCards{
    border-radius: 3rem !important;
    height: 50px;
    width: 85% !important;
    margin: 5px !important;
    padding: 5px !important;
    justify-content: center !important;
}

#pokedexpage-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'VT323', monospace;
    gap: 15px;
}

#indexsearch{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

#indexcards{
    display: flex;
    align-content: center;
    overflow-y: auto;
    height: 300px;
}

#indexcards-container{
    padding: 20px 0 0 20px;
    height: 79vh;
    margin-right: .5rem;
    overflow-y: auto;
}

.pokeIndexContent{
    font-size: 2rem;
}

.pokeIndexCards>a{
    padding-left: 2rem;
}